language: r
sudo: false
cache: packages

# Install the required R packages and conda dependencies
before_install:
  - R -e 'install.packages("remotes")'
  - R -e 'remotes::install_deps(dependencies = TRUE)'
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda config --add channels r
  - conda config --add channels bioconda
  - conda config --add channels conda-forge
  - conda install conda-build
  - conda install anaconda-client
  - conda install conda-verify

# Build the conda package
install:
  - export CONDA_BLD_PATH="${HOME}/miniconda-foo/conda-bld" && conda build conda
  - conda install --use-local r-bioutils

# Run test
# script:
#   - nosetests tests

# Change permissions for Anaconda deployment script
after_success:
  - chmod +x ./conda/deploy_anaconda.sh

# Deploy to Anaconda.org
deploy:
  - provider: script
    script: ./conda/deploy_anaconda.sh
    on:
      tags: false
    skip_cleanup: true
